* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utilities */

.d-flex{
    display: flex;
}

/* Utilities */
.whole-body{
    height: calc(100vh - 100px);
}
/* SIDEBAR */

#small-logo{
    display: none;
}
.sidebar{
    flex-direction: column;
    background-color: black ;
    width: 40px; /* debug feature */
}

.sidebar-footer {
    display: flex;
    flex: 1;
    align-self: flex-end;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
}

.sidebar-utilities{
    width: 100%;
    height: 100px;
}

.sidebar-utilities li{
    padding: 7px 10px;
    color: rgb(123, 121, 121);
    font-size: 16px;
}
.sidebar-utilities i{
    margin-right: 4px;
}

.sidebar-playlists{
    flex: 1;
    overflow-y: scroll;
    width: 100%;
}
.sidebar-bodylogo{
    vertical-align: middle;
    height: 100px;
    width: 100%;
}

.sidebar-bodylogo img{
    padding: 7px 10px;
    width: 80%;
}


.sidebar-playlists li{
    padding: 7px 10px;
    color: rgb(123, 121, 121);
    font-size: 16px;
}

.sidebar-playlists i{
    font-size: 38px;
    color: grey;
}

.sidebar-playlists strong{
    color: white;
}


.sidebar-footer ul{
    list-style: none;
    padding: 7px 10px;
    color: rgb(123, 121, 121);
    font-size: 16px;
}

.sidebar-footer li{
    margin-top: 6px;
    margin-bottom: 6px ;
}
.sidebar-footer span{
    margin-left: 6px;
}
.sidebar-footer .fa-circle-user{
    font-size: 32px;
}

/* SIDEBAR */

.mainbody{
    width: 100%;
    background-color: rgb(23, 30, 46);
    flex-direction: column;
}


/* upgradebar */

.upgradebar{
    position: fixed;
    height: 100px;
    width: 100vw;
    justify-content: right;
    background-color: rgb(23, 30, 46); ;
    opacity: 0.5;
    align-items: center;
}

#upgradebutton{
    height: 50px;
    width: 200px;
    border-style: groove;
    border-radius: 10px;
    border-color: white;
    color: white;
    background-color: transparent;
    margin-right: 300px;
}

/* upgradebar */



/* Playlist box */


.playlists-box{
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
}

.navbar{
    height: 10%;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem ;
    justify-self: center;
}

.navbar ul{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.navbar li{
    text-align: center;
    font-size: 18px;
    color: grey;
    min-width: 100px;
    padding: 10px;
}

.navbar li:hover {
    border-bottom: 3px solid;
    border-color: rgb(6, 71, 16);
    border-width: 50%;
    color: white;
}

li:hover{
    color: white;
}
.sidebar i:hover{
    color: white;
}


.mainbody{
    Overflow-y: scroll;
}

.playlists-box h2{
    font-size: 32px;
    color: white;
    margin-left: 10px;
}
.playlist-recently-played{
    margin-left: 10px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.playlist-madefor{
    margin-left: 10px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

h2{
    margin-top: 25px;
}
.album {
    position: relative;
    padding:10px;
    margin: 1.5rem 0rem;
    height: 250px;
    width: calc(50% - 3rem);
}
.album .roundimg{
    border-radius: 50%;
}
.album img{
    display: block;
    width: 100% ;
    height: 100%;
    object-fit: contain;
}



.prova{
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
}


.album p{
    text-align: center;
    color: grey;
}
.album strong{
    font-size: 16px;
    color: white;
}
/*HOVER effects*/

.album:hover{
    opacity: 0.3;
}
/*HOVER effects*/
#suggestiontxt{
    color: grey;
    margin-left: 10px;
}

/* Playlist box */


footer.footer.d-flex {
    width: 100%;
    height: 100px;
    background-color: rgb(53, 52, 52);
    justify-content: space-between;
}
.footerbox {
    width: 225px;
    height: 100%;
    align-items: center;
    flex-direction: row;
}
.footerbox p{
    margin-left: 5px;
    color: white;
    font-size: 12px;
}

.footerbox strong{
    font-size: 16px;
}
#bottomimg{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    object-fit: contain;
}

.icons{
    margin-left: 25px;
    width: 80px;
}

.icons i{
    padding: 5px;
}

.footerboxmid {
    width: 400px;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.active-buttonsbox{
    width: 100%;
    height: 50%;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    align-items: center;
    flex-direction: row;
}

.footerboxleft{
    width: 225px;
    height: 100%;
    font-size: 16px;
    color: white;
    align-items: center;
    flex-direction: row;
}


.footerboxleft i {
    margin: 5px;
}

.active-buttonsbox span{
    font-size: 12px;
}
#song-duration-bar{
    width: 90%;
    height: 5px;
    background-color: rgb(109, 108, 108);
    border-radius: 5px;
    border-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

#song-duration-barleft{
    width: 70%;
    height: 5px;
    background-color: rgb(109, 108, 108);
    border-radius: 5px;
    border-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

#song-duration-barleft{
    display: none;
}

.footerboxleft {
    justify-content: flex-end;
}
/* FOOTER progbar*/
.wholebar{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 5px;
    background-color: grey;
}
.wholebar.right {
    margin-right: 20px;
}
.progbar{
    width: 15%;
    height: 5px;
    background-color: white;
}

.wholebar i {
    margin-left: -3%;
    align-self: center;
    color: rgb(17, 87, 17);
    display: none ;
    font-size: 16px;
}

.wholebar:hover i{
    display: inline;
}

.progbar:hover{
    background-color: rgb(17, 87, 17);
}


/* FOOTER progbar*/

i:hover{
    font-size: 115%;
}

.footerbox p:hover {
    text-decoration: underline;
}



/* Tablet Responsivity*/

@media screen and (min-width:577px){

    .sidebar-footer{
        flex: 0;
    }
    .sidebar{
        width: 250px;
    }

}

@media screen and (max-width:576px){

    #upgradebutton{
        margin-right: 25%;
    }

    .sidebar-utilities span{
        display: none;
    }
    .sidebar-bodylogo img{
        display: none;
    }
    #small-logo{
        display: inline;
        width: 40px;
        height: 40px;
    }
    .sidebar-bodylogo {
        height: 30px;
        margin-bottom: 10px;

    }
    .sidebar-utilities{
        height: 50px;
    }
    .sidebar-playlists{
        display: none;
    }
    .sidebar-footer span{
        display: none;
    }
    .sidebar-footer hr{
        display: none;
    }

    .sidebar .fa-circle-user:before{
        font-size: 18px;
    }
}

@media screen and (min-width:992px){
    .album{
        width: calc(25% - 3rem);
    }
    #song-duration-barleft{
        display: inline;
    }
}


@media screen and (min-width:1200px){

    .playlist-recently-played{
        margin-bottom: 90px;
        width: 100vw;
    }
    
    .album{
        width: calc(100% / 6 - 3rem);
    }
    
}
@media screen and (max-width:1200px){

    #upgradebutton{
        margin-right: 25%;
    }
}

@media screen and (min-height: 576){
    .sidebar-playlists{
      min-height: 300px;
    }
}
