* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utilities */

.d-flex{
    display: flex;
}

/* Utilities */
.whole-body{
    height: calc(100vh - 100px);
}
/* SIDEBAR */

#small-logo{
    display: none;
}
.sidebar{
    flex-direction: column;
    background-color: black ;
    width: 40px; /* debug feature */
}

.sidebar-footer{
    align-self: flex-end;
    width: 100%;
    height: 100px;
}
.sidebar-utilities{
    width: 100%;
    height: 100px;
}

.sidebar-utilities li{
    padding: 7px 10px;
    color: rgb(123, 121, 121);
    font-size: 16px;
}
.sidebar-utilities i{
    margin-right: 4px;
}

.sidebar-playlists{
    flex: 1;
    overflow-y: scroll;
    width: 100%;
}
.sidebar-bodylogo{
    vertical-align: middle;
    height: 100px;
    width: 100%;
}

.sidebar-bodylogo img{
    padding: 7px 10px;
    width: 80%;
}


.sidebar-playlists li{
    padding: 7px 10px;
    color: rgb(123, 121, 121);
    font-size: 16px;
}

.sidebar-playlists i{
    font-size: 38px;
    color: grey;
}

.sidebar-playlists strong{
    color: white;
}


.sidebar-footer ul{
    list-style: none;
    padding: 7px 10px;
    color: rgb(123, 121, 121);
    font-size: 16px;
}

.sidebar-footer li{
    margin-top: 6px;
    margin-bottom: 6px ;
}
.sidebar-footer span{
    margin-left: 6px;
}
.sidebar-footer .fa-circle-user{
    font-size: 32px;
}

/* SIDEBAR */

.mainbody{
    width: 100%;
    background-color: rgb(23, 30, 46);
    flex-direction: column;
}


/* upgradebar */

.upgradebar{
    position: fixed;
    height: 100px;
    width: 100vw;
    background-color: rgb(23, 30, 46); ;
    opacity: 0.5;
}

#upgradebutton{
    padding: 10px;
    border-style: groove;
    border-radius: 10px;
    border-color: white;
    color: white;
    background-color: transparent;
}

/* upgradebar */



/* Playlist box */


.playlists-box{
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
}

.navbar{
    height: 10%;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem ;
    justify-self: center;
}

.navbar ul{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.navbar li{
    text-align: center;
    font-size: 18px;
    color: grey;
    min-width: 100px;
    padding: 10px;
}

.mainbody{
    Overflow-y: scroll;
}

.playlists-box h2{
    font-size: 32px;
    color: white;
    margin-left: 10px;
}
.playlist-recently-played{
    margin-left: 10px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.playlist-madefor{
    margin-left: 10px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

h2{
    margin-top: 25px;
}
.album {
    padding: 10px;
    margin: 1.5rem 0rem;
    height: 250px;
    width: calc(50% - 3rem);
}
.roundimg{
    border-radius: 50%;
}
.album img{
    
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.album p{
    text-align: center;
    color: grey;
}

.album strong{
    font-size: 16px;
    color: white;
}

#suggestiontxt{
    color: grey;
    margin-left: 10px;
}

/* Playlist box */


footer.footer.d-flex {
    width: 100%;
    height: 100px;
    background-color: rgb(53, 52, 52);
    justify-content: space-between;
}
.footerbox {
    width: 200px;
    height: 100%;
    align-items: center;
    flex-direction: row;
}
.footerbox p{
    margin-left: 5px;
    color: white;
    font-size: 12px;
}

.footerbox strong{
    font-size: 16px;
}
#bottomimg{
    height: 50px;
    width: 50px;
    margin-left: 5px;
    object-fit: contain;
}

/* Tablet Responsivity*/

@media screen and (min-width:576px){

    .sidebar{
        width: 250px;
    }
}

@media screen and (max-width:576px){
    .sidebar-utilities span{
        display: none;
    }
    .sidebar-bodylogo img{
        display: none;
    }
    #small-logo{
        display: inline;
        width: 40px;
        height: 40px;
    }
    .sidebar-bodylogo {
        height: 30px;
        margin-bottom: 10px;

    }
    .sidebar-utilities{
        height: 50px;
    }
    .sidebar-playlists{
        display: none;
    }
    .sidebar-footer span{
        display: none;
    }
    .sidebar-footer hr{
        display: none;
    }
}

@media screen and (min-width:992px){
    .album{
        width: calc(25% - 3rem);
    }
}


@media screen and (min-width:1200px){
    
    .album{
        width: calc(100% / 6 - 3rem);
    }

}


@media screen and (min-height: 576){
    .sidebar-playlists{
      min-height: 300px;
    }
}
