* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Utilities */

.d-flex{
    display: flex;
}

/* Utilities */

/* SIDEBAR */
.sidebar{
    height: 100vh;
    background-color: black ;
    width: 8%; /* debug feature */
}
/* SIDEBAR */

.whole-body {
    flex-direction: row;
}

.mainbody{
    height: 100vh;
    width: 100%;
    background-color: orangered;
    flex-direction: column;
}


/* upgradebar */

.upgradebar{
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: grey;
    opacity: 0.5;
}

/* upgradebar */



/* Playlist box */


.playlists-box{
    height: 90%;
    width: 100%;
    flex-direction: column;
}

.navbar{
    margin-top: 20%;
    padding-left: 1.5rem;
    padding-right: 1.5rem ;
    justify-self: center;
    border-style: dotted;  /* debug feature */
    border-color: azure;  /* debug feature */
}

.navbar ul{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.mainbody{
    Overflow-y: scroll;
}


.playlist-recently-played{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: dotted;  /* debug feature */
    border-color: azure;  /* debug feature */
}

.album {
    margin: 1.5rem;
    height: 250px;
    width: calc(50% - 3rem);
    border-style: dotted;  /* debug feature */
    border-color: azure;  /* debug feature */
}


/* Playlist box */


footer.footer.d-flex {
    width: 100%;
    height: 100px;
    background-color: grey;
}

/* Tablet Responsivity*/

@media screen and (min-width:576px){
    .sidebar{
        width: 250px;
    }

    .navbar{
        margin-top: 22%;
    }
}



@media screen and (min-width:992px){

    .navbar{
        margin-top: 10%;
    }

    .album{
        width: calc(25% - 3rem);
    }
}


@media screen and (min-width:1200px){

    .album{
        width: calc(100% / 6 - 3rem);
    }

}